//! **************************************************************************
// Written by: Map P.49d on Wed May 22 23:22:47 2013
//! **************************************************************************

SCHEMATIC START;
COMP "processing_system7_0_DDR_DQ[14]" LOCATE = SITE "J1" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[22]" LOCATE = SITE "M2" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[30]" LOCATE = SITE "W3" LEVEL 1;
COMP "processing_system7_0_DDR_DQS[3]" LOCATE = SITE "V2" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[15]" LOCATE = SITE "K3" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[23]" LOCATE = SITE "R1" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[31]" LOCATE = SITE "Y1" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[16]" LOCATE = SITE "M1" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[24]" LOCATE = SITE "AA3" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[17]" LOCATE = SITE "T3" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[25]" LOCATE = SITE "U1" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[18]" LOCATE = SITE "N3" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[26]" LOCATE = SITE "AA1" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[19]" LOCATE = SITE "T1" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[27]" LOCATE = SITE "U2" LEVEL 1;
COMP "processing_system7_0_DDR_CAS_n" LOCATE = SITE "P3" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[28]" LOCATE = SITE "W1" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[29]" LOCATE = SITE "Y3" LEVEL 1;
COMP "processing_system7_0_DDR_Addr[10]" LOCATE = SITE "J3" LEVEL 1;
COMP "processing_system7_0_DDR_Addr[11]" LOCATE = SITE "G5" LEVEL 1;
COMP "processing_system7_0_DDR_Addr[12]" LOCATE = SITE "H4" LEVEL 1;
COMP "processing_system7_0_DDR_Addr[13]" LOCATE = SITE "F4" LEVEL 1;
COMP "processing_system7_0_DDR_ODT" LOCATE = SITE "P5" LEVEL 1;
COMP "processing_system7_0_DDR_Addr[14]" LOCATE = SITE "G4" LEVEL 1;
COMP "processing_system7_0_MIO[10]" LOCATE = SITE "G7" LEVEL 1;
COMP "processing_system7_0_MIO[11]" LOCATE = SITE "B4" LEVEL 1;
COMP "processing_system7_0_MIO[12]" LOCATE = SITE "C5" LEVEL 1;
COMP "processing_system7_0_MIO[20]" LOCATE = SITE "A8" LEVEL 1;
COMP "processing_system7_0_MIO[13]" LOCATE = SITE "A6" LEVEL 1;
COMP "processing_system7_0_MIO[21]" LOCATE = SITE "F11" LEVEL 1;
COMP "processing_system7_0_MIO[14]" LOCATE = SITE "B6" LEVEL 1;
COMP "processing_system7_0_MIO[22]" LOCATE = SITE "A14" LEVEL 1;
COMP "processing_system7_0_MIO[30]" LOCATE = SITE "A11" LEVEL 1;
COMP "processing_system7_0_MIO[15]" LOCATE = SITE "E6" LEVEL 1;
COMP "processing_system7_0_MIO[23]" LOCATE = SITE "E11" LEVEL 1;
COMP "processing_system7_0_MIO[31]" LOCATE = SITE "F9" LEVEL 1;
COMP "processing_system7_0_DDR_DM[0]" LOCATE = SITE "B1" LEVEL 1;
COMP "processing_system7_0_MIO[16]" LOCATE = SITE "D6" LEVEL 1;
COMP "processing_system7_0_MIO[24]" LOCATE = SITE "B7" LEVEL 1;
COMP "processing_system7_0_MIO[32]" LOCATE = SITE "C7" LEVEL 1;
COMP "processing_system7_0_MIO[40]" LOCATE = SITE "E14" LEVEL 1;
COMP "processing_system7_0_DDR_DM[1]" LOCATE = SITE "H3" LEVEL 1;
COMP "processing_system7_0_DDR_Clk_n" LOCATE = SITE "N5" LEVEL 1;
COMP "processing_system7_0_MIO[17]" LOCATE = SITE "E9" LEVEL 1;
COMP "processing_system7_0_MIO[25]" LOCATE = SITE "F12" LEVEL 1;
COMP "processing_system7_0_MIO[33]" LOCATE = SITE "G13" LEVEL 1;
COMP "processing_system7_0_MIO[41]" LOCATE = SITE "C8" LEVEL 1;
COMP "processing_system7_0_DDR_DM[2]" LOCATE = SITE "P1" LEVEL 1;
COMP "processing_system7_0_DDR_RAS_n" LOCATE = SITE "R5" LEVEL 1;
COMP "processing_system7_0_MIO[18]" LOCATE = SITE "A7" LEVEL 1;
COMP "processing_system7_0_MIO[26]" LOCATE = SITE "A13" LEVEL 1;
COMP "processing_system7_0_MIO[34]" LOCATE = SITE "B12" LEVEL 1;
COMP "processing_system7_0_MIO[42]" LOCATE = SITE "D8" LEVEL 1;
COMP "processing_system7_0_MIO[50]" LOCATE = SITE "D13" LEVEL 1;
COMP "processing_system7_0_DDR_DM[3]" LOCATE = SITE "AA2" LEVEL 1;
COMP "processing_system7_0_DDR_BankAddr[0]" LOCATE = SITE "L7" LEVEL 1;
COMP "processing_system7_0_MIO[19]" LOCATE = SITE "E10" LEVEL 1;
COMP "processing_system7_0_MIO[27]" LOCATE = SITE "D7" LEVEL 1;
COMP "processing_system7_0_MIO[35]" LOCATE = SITE "F14" LEVEL 1;
COMP "processing_system7_0_MIO[43]" LOCATE = SITE "B11" LEVEL 1;
COMP "processing_system7_0_MIO[51]" LOCATE = SITE "C10" LEVEL 1;
COMP "processing_system7_0_DDR_BankAddr[1]" LOCATE = SITE "L6" LEVEL 1;
COMP "processing_system7_0_MIO[28]" LOCATE = SITE "A12" LEVEL 1;
COMP "processing_system7_0_MIO[36]" LOCATE = SITE "A9" LEVEL 1;
COMP "processing_system7_0_MIO[44]" LOCATE = SITE "E13" LEVEL 1;
COMP "processing_system7_0_MIO[52]" LOCATE = SITE "D10" LEVEL 1;
COMP "processing_system7_0_DDR_BankAddr[2]" LOCATE = SITE "M6" LEVEL 1;
COMP "processing_system7_0_MIO[29]" LOCATE = SITE "E8" LEVEL 1;
COMP "processing_system7_0_MIO[37]" LOCATE = SITE "B14" LEVEL 1;
COMP "processing_system7_0_MIO[45]" LOCATE = SITE "B9" LEVEL 1;
COMP "processing_system7_0_MIO[53]" LOCATE = SITE "C12" LEVEL 1;
COMP "processing_system7_0_MIO[38]" LOCATE = SITE "F13" LEVEL 1;
COMP "processing_system7_0_MIO[46]" LOCATE = SITE "D12" LEVEL 1;
COMP "processing_system7_0_DDR_Addr[0]" LOCATE = SITE "M4" LEVEL 1;
COMP "processing_system7_0_MIO[39]" LOCATE = SITE "C13" LEVEL 1;
COMP "processing_system7_0_MIO[47]" LOCATE = SITE "B10" LEVEL 1;
COMP "processing_system7_0_DDR_Addr[1]" LOCATE = SITE "M5" LEVEL 1;
COMP "processing_system7_0_MIO[48]" LOCATE = SITE "D11" LEVEL 1;
COMP "processing_system7_0_DDR_Addr[2]" LOCATE = SITE "K4" LEVEL 1;
COMP "processing_system7_0_MIO[0]" LOCATE = SITE "G6" LEVEL 1;
COMP "processing_system7_0_MIO[49]" LOCATE = SITE "C14" LEVEL 1;
COMP "processing_system7_0_DDR_Addr[3]" LOCATE = SITE "L4" LEVEL 1;
COMP "processing_system7_0_MIO[1]" LOCATE = SITE "A1" LEVEL 1;
COMP "processing_system7_0_DDR_Addr[4]" LOCATE = SITE "K6" LEVEL 1;
COMP "processing_system7_0_MIO[2]" LOCATE = SITE "A2" LEVEL 1;
COMP "processing_system7_0_DDR_Addr[5]" LOCATE = SITE "K5" LEVEL 1;
COMP "processing_system7_0_MIO[3]" LOCATE = SITE "F6" LEVEL 1;
COMP "processing_system7_0_DDR_Addr[6]" LOCATE = SITE "J7" LEVEL 1;
COMP "processing_system7_0_MIO[4]" LOCATE = SITE "E4" LEVEL 1;
COMP "processing_system7_0_DDR_Addr[7]" LOCATE = SITE "J6" LEVEL 1;
COMP "processing_system7_0_MIO[5]" LOCATE = SITE "A3" LEVEL 1;
COMP "processing_system7_0_DDR_Addr[8]" LOCATE = SITE "J5" LEVEL 1;
COMP "processing_system7_0_MIO[6]" LOCATE = SITE "A4" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[0]" LOCATE = SITE "D1" LEVEL 1;
COMP "processing_system7_0_DDR_Addr[9]" LOCATE = SITE "H5" LEVEL 1;
COMP "processing_system7_0_MIO[7]" LOCATE = SITE "D5" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[1]" LOCATE = SITE "C3" LEVEL 1;
COMP "processing_system7_0_DDR_DQS_n[0]" LOCATE = SITE "D2" LEVEL 1;
COMP "processing_system7_0_MIO[8]" LOCATE = SITE "E5" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[2]" LOCATE = SITE "B2" LEVEL 1;
COMP "processing_system7_0_DDR_DQS_n[1]" LOCATE = SITE "J2" LEVEL 1;
COMP "processing_system7_0_MIO[9]" LOCATE = SITE "C4" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[3]" LOCATE = SITE "D3" LEVEL 1;
COMP "processing_system7_0_DDR_VRN" LOCATE = SITE "M7" LEVEL 1;
COMP "processing_system7_0_DDR_DQS_n[2]" LOCATE = SITE "P2" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[4]" LOCATE = SITE "E3" LEVEL 1;
COMP "processing_system7_0_DDR_VRP" LOCATE = SITE "N7" LEVEL 1;
COMP "processing_system7_0_DDR_CKE" LOCATE = SITE "V3" LEVEL 1;
COMP "processing_system7_0_DDR_DQS_n[3]" LOCATE = SITE "W2" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[5]" LOCATE = SITE "E1" LEVEL 1;
COMP "processing_system7_0_DDR_Clk" LOCATE = SITE "N4" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[6]" LOCATE = SITE "F2" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[7]" LOCATE = SITE "F1" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[8]" LOCATE = SITE "G2" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[10]" LOCATE = SITE "L1" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[9]" LOCATE = SITE "G1" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[11]" LOCATE = SITE "L2" LEVEL 1;
COMP "processing_system7_0_DDR_WEB_pin" LOCATE = SITE "R4" LEVEL 1;
COMP "processing_system7_0_DDR_CS_n" LOCATE = SITE "P6" LEVEL 1;
COMP "processing_system7_0_DDR_DQS[0]" LOCATE = SITE "C2" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[12]" LOCATE = SITE "L3" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[20]" LOCATE = SITE "R3" LEVEL 1;
COMP "processing_system7_0_DDR_DRSTB" LOCATE = SITE "F3" LEVEL 1;
COMP "processing_system7_0_DDR_DQS[1]" LOCATE = SITE "H2" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[13]" LOCATE = SITE "K1" LEVEL 1;
COMP "processing_system7_0_DDR_DQ[21]" LOCATE = SITE "T2" LEVEL 1;
COMP "processing_system7_0_DDR_DQS[2]" LOCATE = SITE "N2" LEVEL 1;
SCHEMATIC END;

