#############################################################
#                                                           #
# HDMI Interface                                            #
#                                                           #
#############################################################
NET "hdmi_clk" LOC = W18;
NET "hdmi_clk" IOSTANDARD = LVCMOS33;
NET "hdmi_vsync" LOC = W17;
NET "hdmi_vsync" IOSTANDARD = LVCMOS33;
NET "hdmi_hsync" LOC = V17;
NET "hdmi_hsync" IOSTANDARD = LVCMOS33;
NET "hdmi_data_e" LOC = U16;
NET "hdmi_data_e" IOSTANDARD = LVCMOS33;
NET "hdmi_data[0]" LOC = Y13;
NET "hdmi_data[0]" IOSTANDARD = LVCMOS33;
NET "hdmi_data[1]" LOC = AA13;
NET "hdmi_data[1]" IOSTANDARD = LVCMOS33;
NET "hdmi_data[2]" LOC = AA14;
NET "hdmi_data[2]" IOSTANDARD = LVCMOS33;
NET "hdmi_data[3]" LOC = Y14;
NET "hdmi_data[3]" IOSTANDARD = LVCMOS33;
NET "hdmi_data[4]" LOC = AB15;
NET "hdmi_data[4]" IOSTANDARD = LVCMOS33;
NET "hdmi_data[5]" LOC = AB16;
NET "hdmi_data[5]" IOSTANDARD = LVCMOS33;
NET "hdmi_data[6]" LOC = AA16;
NET "hdmi_data[6]" IOSTANDARD = LVCMOS33;
NET "hdmi_data[7]" LOC = AB17;
NET "hdmi_data[7]" IOSTANDARD = LVCMOS33;
NET "hdmi_data[8]" LOC = AA17;
NET "hdmi_data[8]" IOSTANDARD = LVCMOS33;
NET "hdmi_data[9]" LOC = Y15;
NET "hdmi_data[9]" IOSTANDARD = LVCMOS33;
NET "hdmi_data[10]" LOC = W13;
NET "hdmi_data[10]" IOSTANDARD = LVCMOS33;
NET "hdmi_data[11]" LOC = W15;
NET "hdmi_data[11]" IOSTANDARD = LVCMOS33;
NET "hdmi_data[12]" LOC = V15;
NET "hdmi_data[12]" IOSTANDARD = LVCMOS33;
NET "hdmi_data[13]" LOC = U17;
NET "hdmi_data[13]" IOSTANDARD = LVCMOS33;
NET "hdmi_data[14]" LOC = V14;
NET "hdmi_data[14]" IOSTANDARD = LVCMOS33;
NET "hdmi_data[15]" LOC = V13;
NET "hdmi_data[15]" IOSTANDARD = LVCMOS33;
NET "hdmi_int" LOC = W16;
NET "hdmi_int" IOSTANDARD = LVCMOS33;

NET "hdmi_iic_scl" LOC = AA18;
NET "hdmi_iic_scl" IOSTANDARD = LVCMOS33;
NET "hdmi_iic_sda" LOC = Y16;
NET "hdmi_iic_sda" IOSTANDARD = LVCMOS33;

#############################################################
#                                                           #
# GPIO Interface                                            #
#                                                           #
#############################################################

############################
#                          #
# GPIO pin to reset the    #
# USB OTG PHY              #
#                          #
############################
# USB-Reset
NET "processing_system7_0_GPIO[0]" LOC = G17;
NET "processing_system7_0_GPIO[0]" IOSTANDARD = LVCMOS33;

############################
#                          #
# On-board OLED            #
#                          #
# Voltage control and      #
# Bitbanged SPI over GPIO  #
#                          #
############################
# OLED-VBAT
NET "processing_system7_0_GPIO[1]" LOC = U11;
NET "processing_system7_0_GPIO[1]" IOSTANDARD = LVCMOS33;
# OLED-VDD
NET "processing_system7_0_GPIO[2]" LOC = U12;
NET "processing_system7_0_GPIO[2]" IOSTANDARD = LVCMOS33;
# OLED-RES
NET "processing_system7_0_GPIO[3]" LOC = U9;
NET "processing_system7_0_GPIO[3]" IOSTANDARD = LVCMOS33;
# OLED-DC
NET "processing_system7_0_GPIO[4]" LOC = U10;
NET "processing_system7_0_GPIO[4]" IOSTANDARD = LVCMOS33;
# OLED-SCLK
NET "processing_system7_0_GPIO[5]" LOC = AB12;
NET "processing_system7_0_GPIO[5]" IOSTANDARD = LVCMOS33;
# OLED-SDIN
NET "processing_system7_0_GPIO[6]" LOC = AA12;
NET "processing_system7_0_GPIO[6]" IOSTANDARD = LVCMOS33;

############################
#                          #
# On-board LED's           #
#                          #
############################
# LD0
NET "processing_system7_0_GPIO[7]" LOC = T22;
NET "processing_system7_0_GPIO[7]" IOSTANDARD = LVCMOS33;
# LD1
NET "processing_system7_0_GPIO[8]" LOC = T21;
NET "processing_system7_0_GPIO[8]" IOSTANDARD = LVCMOS33;
# LD2
NET "processing_system7_0_GPIO[9]" LOC = U22;
NET "processing_system7_0_GPIO[9]" IOSTANDARD = LVCMOS33;
# LD3
NET "processing_system7_0_GPIO[10]" LOC = U21;
NET "processing_system7_0_GPIO[10]" IOSTANDARD = LVCMOS33;
# LD4
NET "processing_system7_0_GPIO[11]" LOC = V22;
NET "processing_system7_0_GPIO[11]" IOSTANDARD = LVCMOS33;
# LD5
NET "processing_system7_0_GPIO[12]" LOC = W22;
NET "processing_system7_0_GPIO[12]" IOSTANDARD = LVCMOS33;
# LD6
NET "processing_system7_0_GPIO[13]" LOC = U19;
NET "processing_system7_0_GPIO[13]" IOSTANDARD = LVCMOS33;
# LD7
NET "processing_system7_0_GPIO[14]" LOC = U14;
NET "processing_system7_0_GPIO[14]" IOSTANDARD = LVCMOS33;

############################
#                          #
# On-board Slide Switches  #
#                          #
############################
# SW0
NET "processing_system7_0_GPIO[15]" LOC = F22;
NET "processing_system7_0_GPIO[15]" IOSTANDARD = LVCMOS33;
# SW1
NET "processing_system7_0_GPIO[16]" LOC = G22;
NET "processing_system7_0_GPIO[16]" IOSTANDARD = LVCMOS33;
# SW2
NET "processing_system7_0_GPIO[17]" LOC = H22;
NET "processing_system7_0_GPIO[17]" IOSTANDARD = LVCMOS33;
# SW3
NET "processing_system7_0_GPIO[18]" LOC = F21;
NET "processing_system7_0_GPIO[18]" IOSTANDARD = LVCMOS33;
# SW4
NET "processing_system7_0_GPIO[19]" LOC = H19;
NET "processing_system7_0_GPIO[19]" IOSTANDARD = LVCMOS33;
# SW5
NET "processing_system7_0_GPIO[20]" LOC = H18;
NET "processing_system7_0_GPIO[20]" IOSTANDARD = LVCMOS33;
# SW6
NET "processing_system7_0_GPIO[21]" LOC = H17;
NET "processing_system7_0_GPIO[21]" IOSTANDARD = LVCMOS33;
# SW7
NET "processing_system7_0_GPIO[22]" LOC = M15;
NET "processing_system7_0_GPIO[22]" IOSTANDARD = LVCMOS33;

############################
#                          #
# On-board Left, Right,    #
# Up, Down, and Select     #
# Pushbuttons              #
#                          #
############################
# BTNL
NET "processing_system7_0_GPIO[23]" LOC = N15;
NET "processing_system7_0_GPIO[23]" IOSTANDARD = LVCMOS33;
# BTNR
NET "processing_system7_0_GPIO[24]" LOC = R18;
NET "processing_system7_0_GPIO[24]" IOSTANDARD = LVCMOS33;
# BTNU
NET "processing_system7_0_GPIO[25]" LOC = T18;
NET "processing_system7_0_GPIO[25]" IOSTANDARD = LVCMOS33;
# BTND
NET "processing_system7_0_GPIO[26]" LOC = R16;
NET "processing_system7_0_GPIO[26]" IOSTANDARD = LVCMOS33;
# BTNS
NET "processing_system7_0_GPIO[27]" LOC = P16;
NET "processing_system7_0_GPIO[27]" IOSTANDARD = LVCMOS33;

############################
#                          #
# Pmod JA                  #
#                          #
############################
# JA1
NET "processing_system7_0_GPIO[28]" LOC = Y11;
NET "processing_system7_0_GPIO[28]" IOSTANDARD = LVCMOS33;
# JA2
NET "processing_system7_0_GPIO[29]" LOC = AA11;
NET "processing_system7_0_GPIO[29]" IOSTANDARD = LVCMOS33;
# JA3
NET "processing_system7_0_GPIO[30]" LOC = Y10;
NET "processing_system7_0_GPIO[30]" IOSTANDARD = LVCMOS33;
# JA4
NET "processing_system7_0_GPIO[31]" LOC = AA9;
NET "processing_system7_0_GPIO[31]" IOSTANDARD = LVCMOS33;
# JA7
NET "processing_system7_0_GPIO[32]" LOC = AB11;
NET "processing_system7_0_GPIO[32]" IOSTANDARD = LVCMOS33;
# JA8
NET "processing_system7_0_GPIO[33]" LOC = AB10;
NET "processing_system7_0_GPIO[33]" IOSTANDARD = LVCMOS33;
# JA9
NET "processing_system7_0_GPIO[34]" LOC = AB9;
NET "processing_system7_0_GPIO[34]" IOSTANDARD = LVCMOS33;
# JA10
NET "processing_system7_0_GPIO[35]" LOC = AA8;
NET "processing_system7_0_GPIO[35]" IOSTANDARD = LVCMOS33;

############################
#                          #
# Pmod JB                  #
#                          #
############################
# JB1
NET "processing_system7_0_GPIO[36]" LOC = W12;
NET "processing_system7_0_GPIO[36]" IOSTANDARD = LVCMOS33;
# JB2
NET "processing_system7_0_GPIO[37]" LOC = W11;
NET "processing_system7_0_GPIO[37]" IOSTANDARD = LVCMOS33;
# JB3
NET "processing_system7_0_GPIO[38]" LOC = V10;
NET "processing_system7_0_GPIO[38]" IOSTANDARD = LVCMOS33;
# JB4
NET "processing_system7_0_GPIO[39]" LOC = W8;
NET "processing_system7_0_GPIO[39]" IOSTANDARD = LVCMOS33;
# JB7
NET "processing_system7_0_GPIO[40]" LOC = V12;
NET "processing_system7_0_GPIO[40]" IOSTANDARD = LVCMOS33;
# JB8
NET "processing_system7_0_GPIO[41]" LOC = W10;
NET "processing_system7_0_GPIO[41]" IOSTANDARD = LVCMOS33;
# JB9
NET "processing_system7_0_GPIO[42]" LOC = V9;
NET "processing_system7_0_GPIO[42]" IOSTANDARD = LVCMOS33;
# JB10
NET "processing_system7_0_GPIO[43]" LOC = V8;
NET "processing_system7_0_GPIO[43]" IOSTANDARD = LVCMOS33;

############################
#                          #
# Pmod JC                  #
#                          #
############################
# JC1_P	(JC1)
NET "processing_system7_0_GPIO[44]" LOC = AB7;
NET "processing_system7_0_GPIO[44]" IOSTANDARD = LVCMOS33;
# JC1_N	(JC2)
NET "processing_system7_0_GPIO[45]" LOC = AB6;
NET "processing_system7_0_GPIO[45]" IOSTANDARD = LVCMOS33;
# JC2_P	(JC3)
NET "processing_system7_0_GPIO[46]" LOC = Y4;
NET "processing_system7_0_GPIO[46]" IOSTANDARD = LVCMOS33;
# JC2_N	(JC4)
NET "processing_system7_0_GPIO[47]" LOC = AA4;
NET "processing_system7_0_GPIO[47]" IOSTANDARD = LVCMOS33;
# JC3_P	(JC7)
NET "processing_system7_0_GPIO[48]" LOC = R6;
NET "processing_system7_0_GPIO[48]" IOSTANDARD = LVCMOS33;
# JC3_N	(JC8)
NET "processing_system7_0_GPIO[49]" LOC = T6;
NET "processing_system7_0_GPIO[49]" IOSTANDARD = LVCMOS33;
# JC4_P	(JC9)
NET "processing_system7_0_GPIO[50]" LOC = T4;
NET "processing_system7_0_GPIO[50]" IOSTANDARD = LVCMOS33;
# JC4_N	(JC10)
NET "processing_system7_0_GPIO[51]" LOC = U4;
NET "processing_system7_0_GPIO[51]" IOSTANDARD = LVCMOS33;

############################
#                          #
# Pmod JD                  #
#                          #
############################
# JD1_P	(JD1)
NET "processing_system7_0_GPIO[52]" LOC = V7;
NET "processing_system7_0_GPIO[52]" IOSTANDARD = LVCMOS33;
# JD1_N	(JD2)
NET "processing_system7_0_GPIO[53]" LOC = W7;
NET "processing_system7_0_GPIO[53]" IOSTANDARD = LVCMOS33;
# JD2_P	(JD3)
NET "processing_system7_0_GPIO[54]" LOC = V5;
NET "processing_system7_0_GPIO[54]" IOSTANDARD = LVCMOS33;
# JD2_N	(JD4)
NET "processing_system7_0_GPIO[55]" LOC = V4;
NET "processing_system7_0_GPIO[55]" IOSTANDARD = LVCMOS33;
# JD3_P	(JD7)
NET "processing_system7_0_GPIO[56]" LOC = W6;
NET "processing_system7_0_GPIO[56]" IOSTANDARD = LVCMOS33;
# JD3_N	(JD8)
NET "processing_system7_0_GPIO[57]" LOC = W5;
NET "processing_system7_0_GPIO[57]" IOSTANDARD = LVCMOS33;
# JD4_P	(JD9)
NET "processing_system7_0_GPIO[58]" LOC = U6;
NET "processing_system7_0_GPIO[58]" IOSTANDARD = LVCMOS33;
# JD4_N	(JD10)
NET "processing_system7_0_GPIO[59]" LOC = U5;
NET "processing_system7_0_GPIO[59]" IOSTANDARD = LVCMOS33;


#############################################################
#                                                           #
# Pin for detecting USB OTG over-current condition          #
#                                                           #
#############################################################

NET "otg_oc" LOC = L16;
NET "otg_oc" IOSTANDARD = LVCMOS33;
