
    #config the sw
    NET dip_GPIO_IO_I_pin<0>           LOC = F22  | IOSTANDARD=LVCMOS18;  # "SW0"
    NET dip_GPIO_IO_I_pin<1>           LOC = G22  | IOSTANDARD=LVCMOS18;  # "SW1"
    NET dip_GPIO_IO_I_pin<2>           LOC = H22  | IOSTANDARD=LVCMOS18;  # "SW2"
    NET dip_GPIO_IO_I_pin<3>           LOC = F21  | IOSTANDARD=LVCMOS18;  # "SW3"
    NET dip_GPIO_IO_I_pin<4>           LOC = H19  | IOSTANDARD=LVCMOS18;  # "SW4"
    NET dip_GPIO_IO_I_pin<5>           LOC = H18  | IOSTANDARD=LVCMOS18;  # "SW5"
    NET dip_GPIO_IO_I_pin<6>           LOC = H17  | IOSTANDARD=LVCMOS18;  # "SW6"
    NET dip_GPIO_IO_I_pin<7>           LOC = M15  | IOSTANDARD=LVCMOS18;  # "SW7"
    #config the led
    NET led_GPIO_IO_O_pin<0>           LOC = T22  | IOSTANDARD=LVCMOS33;  # "LD0"
    NET led_GPIO_IO_O_pin<1>           LOC = T21  | IOSTANDARD=LVCMOS33;  # "LD1"
    NET led_GPIO_IO_O_pin<2>           LOC = U22  | IOSTANDARD=LVCMOS33;  # "LD2"
    NET led_GPIO_IO_O_pin<3>           LOC = U21  | IOSTANDARD=LVCMOS33;  # "LD3"
    NET led_GPIO_IO_O_pin<4>           LOC = V22  | IOSTANDARD=LVCMOS33;  # "LD4"
    NET led_GPIO_IO_O_pin<5>           LOC = W22  | IOSTANDARD=LVCMOS33;  # "LD5"
    NET led_GPIO_IO_O_pin<6>           LOC = U19  | IOSTANDARD=LVCMOS33;  # "LD6"
    NET led_GPIO_IO_O_pin<7>           LOC = U14  | IOSTANDARD=LVCMOS33;  # "LD7"
    
    NET processing_system7_0_GPIO_I_pin<0> LOC = R18 | IOSTANDARD = LVCMOS18;
    